&qtmr1_timer0 {
    status = "okay";
    mode = "kQTMR_PriSrcRiseEdge";
    primary_source = "kQTMR_ClockDivide_128";
};

&pit0_channel0 {
    status = "okay";
};

&csi {
    status = "disabled";
};

&flexcan1 {
    status = "disabled";
};

&pinctrl {
    /* Konfiguracja pinmux dla GPIO_AD_B1_08 */
    pinmux_flexpwm4: pinmux_flexpwm4 {
        group0 {
            pinmux = <&iomuxc_gpio_ad_b1_08_flexpwm4_pwma0_overlay>;
            drive-strength = "r0-4";
            bias-pull-up;
            bias-pull-up-value = "47k";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };
};

/* Konfiguracja pinu GPIO_AD_B1_08 na IOMUXC_GPIO_AD_B1_08_FLEXPWM4_PWMA00*/
&iomuxc {
    iomuxc_gpio_ad_b1_08_flexpwm4_pwma0_overlay: IOMUXC_GPIO_AD_B1_08_FLEXPWM4_PWMA00 {
        pinmux = <0x401F811C 0x1 0x401F8494 0x1 0x401F830C>;
    };
};

/* Konfiguracja FLEXPWM dla GPIO_AD_B1_08 */
&flexpwm4_pwm0 {
    status = "okay";
    pinctrl-0 = <&pinmux_flexpwm4>;
    pinctrl-names = "default";
};

/ { 
    pwmleds {
        d3_pwm: d3_pwm {
            pwms = <&flexpwm4_pwm0 0 0 PWM_POLARITY_NORMAL>;
        };
    };
};

/ {
    aliases {
        pwm-d3 = &d3_pwm; /* PWM na D3 (GPIO_AD_B1_08) */
    };
};
