&qtmr1_timer0 {
    status = "okay";
    mode = "kQTMR_PriSrcRiseEdge";
    primary_source = "kQTMR_ClockDivide_128";
};

&pit0_channel0 {
    status = "okay";
};

&csi {
    status = "disabled";
};

&pinmux_csi {
    group1 {
        pinmux = <>;
    };
};

&flexcan1 {
    status = "disabled";
};

&pinmux_flexcan1 {
    group0 {
        pinmux = <>;
    };
};

&pinctrl {
    pinmux_flexpwm4: pinmux_flexpwm4 {
        pinmux = <
            0x401F811C 0x1 0x401F8494 0x1 0x401F830C 0x10B0
        >;
    };
};

&flexpwm4_pwm0 {
    status = "okay";
    pinctrl-0 = <&pinmux_flexpwm4>;
    pinctrl-names = "default";
};

/ {
    aliases {
        pwm-d3 = &flexpwm4_pwm0; /* PWM na D3 (GPIO_AD_B1_08) */
    };
};
